.footer{
    margin-top: 15rem;
    text-align: center;
    // width: 100%;

    table{
        color: black;
        // background-color: red;
        background-color: #d1d1d1;
        width: 100%;
        text-align: center;
        // text-align: justify;

        th{
            font-size:1.4rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        td{
            font-size: 1.1rem;
        }
    }

    
    p{
       color: black;
    }
        span{
            color: blue;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bold;
            font-size: 1rem;
        }
}

/*@media screen and (max-width:500px) {

    .footer{
        // width: 10%;
        background-color: blue;


        table{
            color: black;
            // background-color: red;
            background-color: red;
            width: auto;
            font-size: .5rem;
            text-align: center;
            // text-align: justify;
           

            th{
                font-size: .6rem;
                font-weight: normal;
            }
        }
    }   
}*/